# روی هاست معمولا MySQL است. برای تست ساده می‌توان sqlite گذاشت.
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_NAME=maha_fastfood
DB_USER=database_user
DB_PASS=database_password

# اگر هاست SQLite داشت و نخواستید MySQL بسازید:
# DB_CONNECTION=sqlite
# DB_PATH=data/maha.db

ADMIN_USERNAME=admin
ADMIN_PASSWORD=8242026

# اگر سایت HTTPS است true بگذارید
COOKIE_SECURE=false
